body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    height: 350px;
}

.container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

/* .google-logo {
    margin-left: 1rem;
} */

input[type="search"] {
    border: 1px solid #ddd8d8;
    border-radius: 25px;
    background: transparent;
    margin-top:10px;
    padding: 13px;
    font-size: 14px;
    color: inherit;
    
}


button[type="submit"] {
position: absolute;
text-indent: -999px;
overflow: hidden;
width: 40px;
padding: 0;
border: 1px solid transparent;
border-radius: inherit;
background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
cursor: pointer;
opacity: 0.5;
margin-top: 1rem;
z-index: 2;
}

svg {
    position: absolute;
    font-size: 14px;
    height: 24px;
    margin-left: 33rem;
    margin-top: 17px;
    z-index: 2;
}

.Gdd5U {
    position: absolute;
    z-index: 2;
    height: 24px;
    width: 24px;
    margin-left: 35.5rem;
    margin-top: 17px;
}

button[type="submit"]:hover {
opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
border-color: #1183d6;
outline: none;
}

a{
    text-decoration: none;
    padding-right: 3px;
}
p{
    color: #8e8e8e;
}
.search {
    margin-bottom: 2rem;
}

button{
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    padding: 12px;
    border: white;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #202124;
}

.btn-1{
    margin-right: 5px;
}

.text a{
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    color: #1777bc;
}

.top {
    display: flex;
    align-items: center;
    margin-left: 70rem;
}

.top-link{
    padding-right: 15px;
    color: #202124;
    font-size: 13px;
    font-weight: 700;
}

.bi-grid-3x3-gap-fill{
    padding-right: 20px;
    padding-left: 10px;
}

.sign-in{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.main {
    border-top: 1px solid #cfcfcf;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
}

footer {
    margin-top: 200px ;
    background-color:  rgb(238, 240, 244);
    padding-bottom: none;
    margin-bottom: none;
    border-bottom: none;
}

.footer-p{
    display: flex;
    align-items: center;
   
}

.footer-p p{
    margin-left: 10px;
}

.footer-below {
    height: 40px;
    
}

.main1 {
    display: flex;
   align-items: center;
   margin-left: -15.5rem;
}

.main2 {
    display: flex;
    align-items: center;
    margin-left: -4rem;
}

.fa-leaf{
    padding-right: 5px;
}

.main3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -15rem;
    
}

.main-a {
    font-size: 15px;
    color: #8e8e8e;  
    margin-right: 15px;  
}
