*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;

}
#overlay {
    border-bottom: 0.6rem solid #111;

}

.container .head{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px 50px;
    z-index: 999;
}

.container .head img {
    width: 13%;
}

.container .head a {
    color: #fff;
    text-decoration: none;
    background-color: #e50914;
    padding: 8px 18px;
    border-radius: 5px;
    margin-right: 60px;
}

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

#overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 101vh;
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
    z-index: 99;
  }
  
.banner .fit {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.banner .box{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#heading {
    margin: 0 auto;
    max-width: 950px;
    padding: 75px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.banner .box .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner .box .heading h2 {
    font-size: 3.125rem;
    color: #fff;
    letter-spacing: 2px;
    width: 80%;
}

.banner .box .heading h5 {
font-size: 1.625rem;
color: #fff;
font-weight: 400;
padding: 1rem 0;
}

.banner .box .heading p {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}

.banner .box .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner .box .search input{
    font-size: 16px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: black;
    border-radius: 2px;
    padding: 10px 10px 0 0;
    min-width: 400px;
    height: 60px;
    align-items: center;
}

.banner .box .search a{
text-decoration: none;
text-transform: uppercase;
color: #fff;
font-weight: 400;
letter-spacing: 0.1px;
border-radius: 2px;
background: #e50914;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
font-size: 1.625rem;
line-height: 60px;
min-width: 310px;
padding: 0 30px;
}

.part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111;
}

.part1 .talk h1{
    font-size: 3.3rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.part1 .talk p{
font-size: 1.6rem;
}

.img .vid {
    display:inline-block;
    height: 100%;
    width: 100%;
}

.img {
    position: relative;
    border: 0;
    height: auto;
    max-width: 100%;
    z-index: 2;
}

video {
    position: relative;
    margin-top: -35rem;
    margin-right: -13rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
    padding: 15%;
    object-fit: contain;
    vertical-align: baseline;
}

.part2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111;
}

.card-animation{
    display: flex;
    border: 2px solid rgb(124, 122, 122);
    border-radius: 15px;
    align-content: center;
    justify-content: center;
    width: 60%;
    margin-left: 6.1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
}

.card-animation-image{
    width: 40.28px;
    height: 52px;
    border: 5px 3px;
}

.strangerthings .downloading {
    display: block;
}

.part2 .talk h1{
    font-size: 3.3rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.part2 .talk p{
font-size: 1.6rem;
}

.part3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding-top: 2rem;
    padding-right: 30rem;
    padding-left: 10px;
    padding-bottom: 2rem;
    border-bottom: 0.6rem solid #111;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.part3 .talk h1{
    font-size: 3.3rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.part3 .talk p{
font-size: 1.6rem;
}

/* .part3 .talk {
    width: 35rem;
} */


.part4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111;
}

.part4 .talk h1{
    font-size: 3.3rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.part4 .talk p{
font-size: 1.6rem;
}

.list {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.list h1 {
    color: #fff;
    font-size: 3rem;
    padding: 3rem 0 4rem 0;
}

.title {
    background: #303030;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 300;
    text-decoration: none;
}

.icon {
    width: 20px;
    position: relative;
}

.icon::before, .icon::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #fff;
    top: -1.5px;
}

.icon::after{
    transform: rotate(90deg);
    transition: 0.5s linear;
}

.text {
    background-color: #303030;
    line-height: 35px;
    margin: 3px 0;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 300;
    height: 0;
    opacity: 0;
}

.item:target .text {
    opacity: 1;
    height: auto;
    padding: 20px 35px;
    margin: 0;
    border-top: 2px solid #000;
    margin-bottom: 6px;
}

.item:target .icon::after{
    transform:rotateY(90deg)
}

.banner2 {
    border-bottom: 0.6rem solid #111;
}

.banner2 .box{
    margin: 4rem 0;
}


.banner2 .box .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner2 .box .heading h2 {
    font-size: 3.125rem;
    color: #fff;
    letter-spacing: 2px;
    width: 80%;
}

.banner2 .box .heading h5 {
font-size: 1.625rem;
color: #fff;
font-weight: 400;
padding: 1rem 0;
}

.banner2 .box .heading p {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}

.banner2 .box .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner2 .box .search input{
    font-size: 16px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: black;
    border-radius: 2px;
    padding: 10px 10px 0 0;
    min-width: 400px;
    height: 60px;
    align-items: center;
}

.banner2 .box .search a{
text-decoration: none;
text-transform: uppercase;
color: #fff;
font-weight: 400;
letter-spacing: 0.1px;
border-radius: 2px;
background: #e50914;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
font-size: 1.625rem;
line-height: 60px;
min-width: 310px;
padding: 0 30px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: auto;
    padding: 4rem 0;
}

.questions{
    margin-top: 10rem;
    margin-left: 10rem;
    text-decoration: none;
    color: rgb(164, 162, 162);

}

.footer .one {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: auto;
    width: 25%;
}

.footer .one li {
    padding: 7px 0;
}


.footer .one li a {
color: rgb(164, 162, 162);
text-decoration: none;
}

.footer .one li a:hover {
    border-bottom: 1px solid rgb(164, 162, 162);
}

#questions a:hover {
    border-bottom: 1px solid rgb(164, 162, 162);
}